<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.squad.testdeneme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".meslek_testi.MtSonucKaydedilen" android:screenOrientation="portrait"></activity>
        <activity android:name=".kisilik_testi.KtSonucKaydedilen" android:screenOrientation="portrait"/>
        <activity android:name=".tercih_robotu.TercihRobotu" android:screenOrientation="portrait"/>
        <activity android:name=".kisilik_testi.KtSonucEkrani" android:screenOrientation="portrait"/>
        <activity android:name=".kisilik_testi.KtTestActivity" android:screenOrientation="portrait"/>
        <activity android:name=".tercih_robotu.TercihFiltre" android:screenOrientation="portrait"/>
        <activity android:name=".kisilik_testi.KtAnaSayfa" android:screenOrientation="portrait"/>
        <activity android:name=".meslek_testi.MtAnaSayfa" android:screenOrientation="portrait"/>
        <activity android:name=".meslek_testi.MtSonucEkrani" android:screenOrientation="portrait"/>
        <activity android:name=".meslek_testi.MtTestActivity" android:screenOrientation="portrait"/>
        <activity android:name=".AnaEkran">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>